/* -------- PARKING MAP & DETAILS START -------- */
.map {
	position: relative;
	height: 500px;
}

.map .parking-spot {
	position: absolute;
	width: 4.8%;
	height: 18%;
	color: white;
}

.map .parking-spot:hover {
	opacity: 80%;
}

/* -------- PARKING MAP & DETAILS END -------- */
