.coming-soon {
	text-align: center;
	font-size: 64px;
}

.align-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
}

.card-btn {
	cursor: pointer;
}

.card-btn:hover {
	background-color: #c4c4c4;
}

.table > tbody > tr > td,
.table > thead > tr > th {
	border: 0 !important;
}

/* Chart Start */
.chart button {
	background: #fff;
	color: #222;
	border: 1px solid #e7e7e7;
	border-bottom: 2px solid #ddd;
	border-radius: 2px;
	padding: 0px 17px;
	margin-right: 5px;
}

.chart button.active {
	color: #fff;
	background: #008ffb;
	border: 1px solid blue;
	border-bottom: 2px solid blue;
}
/* Chart End */
