.coming-soon {
	text-align: center;
	font-size: 64px;
}

.disabled,
[disabled] {
	opacity: 0.65;
	pointer-events: none;
}

/* Card Start */
.card-btn {
	cursor: pointer;
	position: relative;
}
.card-btn:after {
	content: "";
	position: absolute;
	background-color: #c4c4c4;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0;
	transition: opacity 100ms ease;
}
.card-btn:hover:after,
.card-btn:focus:after {
	opacity: 1;
}
.card-custom {
	display: flex;
	align-items: center;
	max-width: 1000px;
	margin-bottom: 2rem;
}
.card-custom .card-body {
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
	padding: 1em;
}
.card-body > * {
	margin: 0;
}
.card-custom > :first-child {
	flex-grow: 1;
}
.card-custom .card-body {
	display: flex;
	justify-content: space-between;
}
/* Card End */

/* Chart Start */
.chart {
	width: 90vw;
	max-width: 900px;
}
.chart button {
	background: #fff;
	color: #222;
	border: 1px solid #e7e7e7;
	border-bottom: 2px solid #ddd;
	border-radius: 2px;
	padding: 0px 17px;
	margin-right: 5px;
}

.chart button.active {
	color: #fff;
	background: #008ffb;
	border: 1px solid blue;
	border-bottom: 2px solid blue;
}
/* Chart End */

/* Dropdown Start */
.has-dropdown-custom {
	position: relative;
	cursor: pointer;
}
.has-dropdown-custom:hover .dropdown-custom {
	display: block;
}
.tp-nav ul .dropdown-custom {
	display: none;
	position: absolute;
	z-index: 1002;
	width: 140px;
	-webkit-box-shadow: 0px 14px 33px -9px rgb(0 0 0 / 75%);
	-moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 14px 33px -9px rgb(0 0 0 / 75%);
	top: 40px;
	left: 0px;
	text-align: left;
	background: #000;
	padding: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
	cursor: pointer;
}
.dropdown-custom li {
	display: block;
	margin-bottom: 0px;
	padding: 8px 0;
}
.dropdown-custom li a {
	padding: 2px 0;
	display: block;
	color: #999999;
	line-height: 1.2;
	text-transform: none;
	font-size: 13px;
	letter-spacing: 0;
}
.tp-nav ul li.has-dropdown-custom .dropdown-custom li a {
	color: #999999;
	padding: 8px 0;
}
.tp-nav ul li.has-dropdown-custom .dropdown-custom li:hover a {
	color: #fff;
}
/* Dropdown End */

/* Top button */
.gototop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.gototop.active {
	opacity: 1;
	visibility: visible;
}

.gototop a {
	width: 50px;
	height: 50px;
	display: table;
	background: black;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.gototop a i {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.gototop a:hover,
.gototop a:active,
.gototop a:focus {
	text-decoration: none;
	outline: none;
}

.swal2-popup label {
	font-size: 18px;
	margin-right: 20px;
}
.swal2-popup input + label {
	margin-left: 20px;
	margin-right: 0;
}

/* Toggles Start */
.toggle *:before,
.toggle *:after {
	content: "";
	position: absolute;
}
.toggle input {
	height: 40px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 40px;
	margin: 0;
}

.toggle {
	position: relative;
	display: inline-block;
	text-align: left;
	font-size: 80%;
	width: 7em;
	display: flex;
	align-items: center;
	margin-left: 1em;
}
.toggle input:focus + .toggle-item {
	-moz-box-shadow: 0 0 6px 3px #000000; /*FF 3.5+*/
	-webkit-box-shadow: 0 0 6px 3px #000000; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 0 0 6px 3px #000000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}
.toggle input:focus:not(:focus-visible) + .toggle-item {
	-moz-box-shadow: none; /*FF 3.5+*/
	-webkit-box-shadow: none; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: none; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}
label.toggle-item {
	width: 7em;
	background: #2e394d;
	height: 3em;
	display: inline-block;
	border-radius: 50px;
	/* margin: 40px; */
	position: relative;
	/* transition: all 0.3s ease; */
	transform-origin: 20% center;
	cursor: pointer;
	margin: 0;
}
label.toggle-item:before {
	display: block;
	transition: all 0.2s ease;
	width: 2.3em;
	height: 2.3em;
	top: 0.25em;
	left: 0.25em;
	border-radius: 2em;
	border: 2px solid #88cf8f;
	transition: 0.3s ease;
}

.normal label {
	background: #af4c4c;
	border: 0.5px solid rgba(117, 117, 117, 0.31);
	box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2),
		0 -3px 4px rgba(0, 0, 0, 0.15);
}
.normal label:before {
	border: none;
	width: 2.5em;
	height: 2.5em;
	box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
	background: #fff;
	transform: rotate(-25deg);
}
.normal label:after {
	background: transparent;
	height: calc(100% + 8px);
	border-radius: 30px;
	top: -5px;
	width: calc(100% + 8px);
	left: -4px;
	z-index: 0;
	box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.2),
		0px 1px 2px 0px rgba(151, 151, 151, 0.2);
}

#normal:checked + label {
	background: #4caf50;
}
#normal:checked + label:before {
	left: 4em;
}

.checkcross label:before {
	content: none;
}
.checkcross .check {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	position: absolute;
	background: #8bc34a;
	transition: 0.4s ease;
	top: 4.5px;
	left: 4.5px;
}
.checkcross .check:before,
.checkcross .check:after {
	height: 4px;
	border-radius: 10px;
	background: #fff;
	transition: 0.4s ease;
}
.checkcross .check:before {
	width: 25px;
	transform: rotate(-45deg) translate(-6px, 20px);
}
.checkcross .check:after {
	width: 10px;
	transform: rotate(45deg) translate(20px, 11px);
}

#checkcross:checked + label .check {
	left: 68px;
	transform: rotate(360deg);
	background: #c34a4a;
}
#checkcross:checked + label .check:before {
	width: 27px;
	transform: rotate(-45deg) translate(-8px, 18px);
}
#checkcross:checked + label .check:after {
	width: 27px;
	transform: rotate(45deg) translate(18px, 8px);
}
/* Toggles End */
