.coming-soon {
	text-align: center;
	font-size: 64px;
}

.align-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
}

.card-btn {
	cursor: pointer;
}

.card-btn:hover {
	background-color: #c4c4c4;
}

.table > tbody > tr > td,
.table > thead > tr > th {
	border: 0 !important;
}
